{% extends 'base.html.twig' %}

{% block title %}Hello PizzaController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <br>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
            {% for pizza in pizzas %}
                {% if pizza.category == category %}
                    <tr>
                        <td>{{ pizza.name }}</td>
                        <td><p>{{ pizza.price }}</p></td>
                        <td><p>{{ pizza.description }}</p></td>
                        <td><img src="{{ asset('img/' ~ pizza.img) }}" alt="{{ pizza.name }}" style="width: 200px"></td>


                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {{ form(form) }}
    </div>
{% endblock %}


